@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
